@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

:root {
	--radius: 0.5rem;
	--background: oklch(0.9791 0 0);
	--foreground: oklch(0.1976 0.0435 261.482);
	--card: oklch(0.9791 0 0);
	--card-foreground: oklch(0.1976 0.0435 261.482);
	--popover: oklch(0.9791 0 0);
	--popover-foreground: oklch(0.1976 0.0435 261.482);
	--primary: oklch(0.7344 0.1515 66.2344);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9273 0.0139 247.9767);
	--secondary-foreground: oklch(0.2966 0.0581 264.2073);
	--muted: oklch(0.963 0.0062 255.4751);
	--muted-foreground: oklch(0.5232 0.0346 256.0908);
	--accent: oklch(0.9169 0.0138 258.3465);
	--accent-foreground: oklch(0.2966 0.0581 264.2073);
	--destructive: oklch(0.5675 0.1907 21.5569);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.8851 0.0192 255.5413);
	--input: oklch(0.9461 0.0183 269.0863);
	--ring: oklch(0.7977 0.1345 74.1507);
	--chart-1: oklch(0.7977 0.1345 74.1507);
	--chart-2: oklch(0.646 0.1423 253.92);
	--chart-3: oklch(0.5563 0.1983 23.0197);
	--chart-4: oklch(0.7837 0.1491 154.1531);
	--chart-5: oklch(0.6605 0.1222 315.5925);
	--sidebar: oklch(0.9791 0 0);
	--sidebar-foreground: oklch(0.1976 0.0435 261.482);
	--sidebar-primary: oklch(0.7344 0.1515 66.2344);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9169 0.0138 258.3465);
	--sidebar-accent-foreground: oklch(0.2966 0.0581 264.2073);
	--sidebar-border: oklch(0.8851 0.0192 255.5413);
	--sidebar-ring: oklch(0.7977 0.1345 74.1507);
}

.dark {
	--background: oklch(0.1455 0.0308 260.4735);
	--foreground: oklch(0.9243 0.0158 266.2742);
	--card: oklch(0.1455 0.0308 260.4735);
	--card-foreground: oklch(0.9243 0.0158 266.2742);
	--popover: oklch(0.1455 0.0308 260.4735);
	--popover-foreground: oklch(0.9243 0.0158 266.2742);
	--primary: oklch(0.7344 0.1515 66.2344);
	--primary-foreground: oklch(0.9791 0 0);
	--secondary: oklch(0.2161 0.0463 262.9919);
	--secondary-foreground: oklch(0.9169 0.0138 258.3465);
	--muted: oklch(0.1976 0.0435 261.482);
	--muted-foreground: oklch(0.7276 0.0282 257.0476);
	--accent: oklch(0.3117 0.0536 264.5309);
	--accent-foreground: oklch(0.8581 0.0188 258.3567);
	--destructive: oklch(0.5563 0.1983 23.0197);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3542 0.0656 266.9412);
	--input: oklch(0.2966 0.0581 264.2073);
	--ring: oklch(0.7977 0.1345 74.1507);
	--chart-1: oklch(0.7977 0.1345 74.1507);
	--chart-2: oklch(0.646 0.1423 253.92);
	--chart-3: oklch(0.5563 0.1983 23.0197);
	--chart-4: oklch(0.7837 0.1491 154.1531);
	--chart-5: oklch(0.6605 0.1222 315.5925);
	--sidebar: oklch(0.1455 0.0308 260.4735);
	--sidebar-foreground: oklch(0.9243 0.0158 266.2742);
	--sidebar-primary: oklch(0.7344 0.1515 66.2344);
	--sidebar-primary-foreground: oklch(0.9791 0 0);
	--sidebar-accent: oklch(0.3117 0.0536 264.5309);
	--sidebar-accent-foreground: oklch(0.8581 0.0188 258.3567);
	--sidebar-border: oklch(0.3542 0.0656 266.9412);
	--sidebar-ring: oklch(0.7977 0.1345 74.1507);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
